:root{
    --white: #FFFFFF;
    --dark: #212121;
    --primary: #FFC107;
    --secundary: #0097A7;
    --gray: #757575;
}

html{
    font-size: 62.5%;

}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}
.nav-bg{
    background-color: var(--secundary);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    align-items: center;
}
.navegacion-principal a{
    padding: 1rem; 
    text-decoration: none;
    color: var(--white);
}
.navegacion-principal a:hover{
    background-color: var(--primary);
    color: var(--dark);
}
@media(min-width: 768px){
    .navegacion-principal{
        flex-direction: row;

    }
}